{
    "dynatraceHostName": "DYNATRACE_HOSTNAME_PLACEHOLDER",
    "dynatraceApiToken": "DYNATRACE_API_TOKEN_PLACEHOLDER",
    "dynatracePaaSToken": "DYNATRACE_PAAS_TOKEN_PLACEHOLDER",
    "githubUserName": "GITHUB_USER_NAME_PLACEHOLDER",
    "githubPersonalAccessToken": "PERSONAL_ACCESS_TOKEN_PLACEHOLDER",
    "githubOrg": "GITHUB_ORG_PLACEHOLDER"
}